// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boxChartEmpty {
  padding: 0px;
  margin: 5px;
  height: 12px;
  width: 400px;
  border: 1px solid black;
}

.boxChart {
  padding: 0px;
  margin: 0px;
  height: 12px;
}

.answerTd {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 25px;
  // border: 1px solid black;
  float: left;
}

.answerTable {
  table-layout:fixed; 
  width: 600px;
}

.answerRemove {
  // border:solid 1px green;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}

.answerAdd {
  margin-left: 220px;
}
